openapi: 3.0.3
info:
  title: Esports Match Service API
  description: |
    Сервис для матчей и игровых событий
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: API Support
    email: api-support@company.com

servers:
  - url: https://api.esports.service/api/v1
    description: Production server
  - url: https://test-api.esports.service/api/v1
    description: Testing server

tags:
  - name: Client methods
    description: Методы, доступные всем пользователям
  - name: Admin methods
    description: Методы, доступные только администраторам

externalDocs:
  description: Документация по интеграции и примеры кода
  url: https://github.com/company/esports-api-docs

paths:
  /matches:
    get:
      summary: Получить список матчей
      description: Возвращает список матчей с пагинацией и фильтрацией. Доступно всем.
      operationId: listMatches
      tags:
        - Client methods
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: size
          in: query
          description: Количество записей на странице
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: game
          in: query
          description: Фильтр по названию игры
          required: false
          schema:
            type: string
            enum: [Dota 2, CS 2, Overwatch 2]
        - name: search
          in: query
          description: Текстовый поиск по названию матча или команде
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Фильтр по статусу матча
          required: false
          schema:
            type: string
            enum: [NOT_STARTED, IN_PROGRESS, FINISHED]
      responses:
        '200':
          description: Успешный возврат списка матчей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchesListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /matches/{id}:
    get:
      summary: Получить детали матча
      description: Возвращает информацию об одном из матчей по его идентификатору, включая список игровых событий. Доступно всем.
      operationId: getMatchById
      tags:
        - Client methods
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор матча (UUID)
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Успешный ответ с данными матча
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Создать матч
      description: Создает новый матч. Доступно только администраторам.
      operationId: createMatch
      tags:
        - Admin methods
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Уникальный ключ для предотвращения дублирования запросов
          schema:
            type: string
            format: uuid
            example: "d4c5b6a7-8e9f-1011-1213-141516171819"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMatchRequest'
            example:
              name: "Grand Final"
              game: "Dota 2"
              teamIds:
                - "550e8400-e29b-41d4-a716-446655440001"
                - "550e8400-e29b-41d4-a716-446655440002"
              startDate: "2024-12-31T18:00:00Z"
      responses:
        '201':
          description: Матч успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Неавторизованный запрос
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: Редактировать матч
      description: Полное обновление данных матча. Доступно только администраторам.
      operationId: updateMatch
      tags:
        - Admin methods
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMatchRequest'
            example:
              name: "Grand Final Updated"
              game: "CS 2"
              teamIds:
                - "550e8400-e29b-41d4-a716-446655440001"
                - "550e8400-e29b-41d4-a716-446655440002"
              startDate: "2024-12-31T20:00:00Z"
              status: "IN_PROGRESS"
      responses:
        '200':
          description: Матч успешно обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Неавторизованный запрос
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Удалить матч
      description: Удаляет матч по идентификатору. Доступно только администраторам.
      operationId: deleteMatch
      tags:
        - Admin methods
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
        - name: Idempotency-Key
          in: header
          required: true
          description: Ключ идемпотентности для безопасного повторного удаления
          schema:
            type: string
            format: uuid
            example: "d4c5b6a7-8e9f-1011-1213-141516171819"
      responses:
        '204':
          description: Матч успешно удалён
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Неавторизованный запрос
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Ключ доступа для административных методов

  responses:
    BadRequest:
      description: Неверный формат запроса или ошибка валидации
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: "Ошибка валидации"
            errors:
              - field: "game"
                issue: "Значение должно быть одним из: Dota 2, CS 2, Overwatch 2"
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: "Матч не найден"
    Conflict:
      description: Конфликт состояния (дубликат, неверный статус)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: "Запрос с таким ключом идемпотентности уже обработан"
    ServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 500
            message: "Внутренняя ошибка сервера. Обратитесь в поддержку."

  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: HTTP-код ошибки
          example: 400
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: "Неверный формат данных"
        errors:
          type: array
          description: Детали ошибок валидации (опционально)
          items:
            type: object
            properties:
              field:
                type: string
                example: "email"
              issue:
                type: string
                example: "Обязательное поле"

    MatchesListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Match'
        pagination:
          type: object
          properties:
            page:
              type: integer
              example: 1
            size:
              type: integer
              example: 20
            total:
              type: integer
              example: 100

    CreateMatchRequest:
      type: object
      required:
        - name
        - game
        - teamIds
        - startDate
      properties:
        name:
          type: string
          example: "Grand Final"
          minLength: 3
          maxLength: 200
        game:
          type: string
          enum: ["Dota 2", "CS 2", "Overwatch 2"]
          example: "Dota 2"
        teamIds:
          type: array
          items:
            type: string
            format: uuid
          example:
            - "550e8400-e29b-41d4-a716-446655440001"
            - "550e8400-e29b-41d4-a716-446655440002"
        startDate:
          type: string
          format: date-time
          example: "2024-12-31T18:00:00Z"

    UpdateMatchRequest:
      type: object
      required:
        - name
        - game
        - teamIds
        - startDate
        - status
      properties:
        name:
          type: string
          example: "Grand Final Updated"
          minLength: 3
          maxLength: 200
        game:
          type: string
          enum: ["Dota 2", "CS 2", "Overwatch 2"]
          example: "CS 2"
        teamIds:
          type: array
          items:
            type: string
            format: uuid
          example:
            - "550e8400-e29b-41d4-a716-446655440001"
            - "550e8400-e29b-41d4-a716-446655440002"
        startDate:
          type: string
          format: date-time
          example: "2024-12-31T20:00:00Z"
        status:
          type: string
          enum: ["NOT_STARTED", "IN_PROGRESS", "FINISHED"]
          example: "IN_PROGRESS"

    Match:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Идентификатор матча
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          example: "Grand Final"
        game:
          type: string
          example: "Dota 2"
        teams:
          type: array
          description: Информация о командах
          items:
            $ref: '#/components/schemas/Team'
        startDate:
          type: string
          format: date-time
        status:
          type: string
          enum: ["NOT_STARTED", "IN_PROGRESS", "FINISHED"]
        events:
          type: array
          description: Список игровых событий
          items:
            $ref: '#/components/schemas/GameEvent'

    Team:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440001"
        name:
          type: string
          example: "Team Spirit"
        description:
          type: string
          maxLength: 200
          example: "Чемпионы мира 2023"

    GameEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "First Blood"
        score:
          type: string
          description: "Формат: {счет команды 1} : {счет команды 2}"
          example: "1 : 0"
        coefficient:
          type: number
          format: float
          example: 1.5
        status:
          type: string
          enum: ["NOT_STARTED", "IN_PROGRESS", "FINISHED"]